/* body {
    margin: 0;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}
h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: ;
}


button {
    margin-left: 350px;
  
} */



.btn {
    display: inline-block;
    position:absolute;
    top:80%;
    left:46%;
    font-size: 40px;
    border-radius: 10px;
}

.heroine {
   
    background-image: url("../../assets/Images/Secret-Entrance-Within-The-Blue-Room-Los-Angeles-1200x800\ \(1\).jpg");
    
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: luminosity;
}

/* .container2 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
} */

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header {
    display: flex;
    padding: 1%;
    background-color: #101111;
    color: #fff;
  }

  h1 {
    font-size: 200%;
    align-items: left;
  }
  
  h2 {
    margin: 2% 5px;
    font-size: 75%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: white;
    font-weight: bold;
  }

  nav a:hover {
    color: #fff;
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  }
  
  article div * {
    padding: 20px;
    border: 3px solid #e71f0d;
  }
  
  article p {
    margin: 2% 0;
    font-size: 110%;
  }
  
  article ul {
    margin-left: 5%;
    font-size: 110%;
    list-style: circle;
  }
  
/* Use :nth-child() to select every even list item */
article ul li:nth-child(even) {
    background-color: #d6cd21;
    color: #13293d;
  }
  
  form {
    max-width: 400px;
  }
  
  form h3 {
    font-size: 150%;
  }
  
  form p {
    margin: 3% 0;
  }
  
  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /* the select option  */
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }
  
  .text-input:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px #999;
  }
  
  /* What does this pseudo-class mean? when click in text-input 
  the right side has small dashed border */
  .text-input:focus {
    border-right-width: 5px;
  }
  
  /* What does this pseudo-class mean? */
  .text-input:placeholder-shown {
    border-style: dashed;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
  }
  
  .flex-row select {
    flex: 1 0 0;
    margin-left: 2%;
  }
  
  .flex-row input {
    margin-right: 2%;
  }
  
  /* What does this selector do? */
  .checkbox:checked + label {
    color: #999999;
    font-style: italic;
  }
  
  /* What does this selector do? */
  .checkbox:checked + label::after {
    margin-left: 10px;
    font-size: 90%;
    content: "(thanks!)";
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  }
  
