.image.is-4by5 {
    padding-top: 125%;
}

.image {
    position: relative;
    margin-top: 24px;
}

.hero 
.hero-body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    border: 5px solid goldenrod;
    background-color: grey;
}

.columns:not(.is-desktop) {
  display: flex;
  flex-direction: column;
}



