/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

figure {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 50px; 
}


.title {
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
  font-size: 80px;
}

.box {
  background-image: url(../../assets/Images/top-shelf-choices-fix.png);
  background-repeat: no-repeat;
  background-size:cover;
  height:max-content;
}

p {
  text-align: justify;
}
.drinks {
  height:200px;
  margin-left:  110px;
}

.drinktitle {
  text-align: center;
}

.oldfashioned {
  height: 200px;
  width: 200px;
  margin-left: 80px;
}

.mojito {
  height: 200px;
  margin-left: 40px;
}

.hero {
  background-color: rgba(0, 0, 0, 0.205);
 
}

.hero-body {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.932);
}

section {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  background-image: url(../../assets/Images/The-Skylark-night-1200.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode:multiply;
  
}

.columns:not(.is-desktop) {
display: flex;
flex-direction: row;
}

body {
margin-bottom: 0;
}

.drinkIngr {

  text-decoration: dotted;
}

.small-video {
margin-inline: 50px;
margin-top: 20px;
}



.footer {
  color:white;
  padding-bottom: 50px;
  
}

.content {
  margin-left: 25%;
}


#anotherDrink {
  display: none;
}
 
button.custom-button-class:hover {
  background-color: #FA005F;
  border: 1px solid #FA005F;
}

p.recent-searches {
  color: rgb(60, 60, 60);
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
}

.custom-button-class {
  background-color: rgb(60, 60, 60);
  border: 1px black solid;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  width: 255px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


@media only screen and (max-width:800px) {
/* For tablets: */
 .container {
  width: 80%;
  padding: 0;
}

@media screen and (max-width: 1056px) {
  #old {
    display: none;
  }
}


 .body {
  width: 100%;
}  

@media only screen and (max-width:500px) {

  .container {
  width: 100%;
  }
}

}

